fastapi
uvicorn
pandas
numpy
scikit-learn
joblib
python-dotenv
huggingface_hub
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-huggingface
pinecone
sentence-transformers
torch
transformers